BART API Link http://api.bart.gov/docs/overview/index.aspx

In [1]:
import numpy as np
import pandas as pd
import pickle
import time
import datetime

## BART Schedule Read In

In [2]:
green_schedule = pd.read_csv('2028_BART_Schedule/Green_BART_schedule.csv')
blue_schedule = pd.read_csv('2028_BART_Schedule/Blue_BART_schedule.csv')
red_schedule = pd.read_csv('2028_BART_Schedule/Red_BART_schedule.csv')
orange_schedule = pd.read_csv('2028_BART_Schedule/Orange_BART_schedule.csv')
yellow_schedule = pd.read_csv('2028_BART_Schedule/Yellow_BART_schedule.csv')

In [3]:
green_schedule.head()

,Departure Index (c),Travel segment (a),Day (b),Time of departure (2400),Arrival Time
0,1,11,Mon,5:12,6:27
1,2,11,Mon,5:24,6:39
2,3,11,Mon,5:36,6:51
3,4,11,Mon,5:48,7:03
4,5,11,Mon,6:00,7:15

In [4]:
line_schedules = pd.concat([green_schedule, blue_schedule, red_schedule, orange_schedule, yellow_schedule])

In [5]:
line_schedules = line_schedules.drop(["Day (b)"], axis=1)

In [6]:
line_schedules.head()
# line_schedules.to_pickle

,Departure Index (c),Travel segment (a),Time of departure (2400),Arrival Time
0,1,11,5:12,6:27
1,2,11,5:24,6:39
2,3,11,5:36,6:51
3,4,11,5:48,7:03
4,5,11,6:00,7:15

### Convert all times to minutes

In [7]:
def convert_minutes(string_time):
    x = time.strptime(string_time, '%H:%M')
    return datetime.timedelta(hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds() // 60
    
# datetime.timedelta(hours)

In [8]:
convert_minutes('1:00')

60.0

In [9]:
# Run Once. 
line_schedules['Time of departure (2400)'] = line_schedules['Time of departure (2400)'].apply(lambda x: convert_minutes(x))
line_schedules['Arrival Time'] = line_schedules['Arrival Time'].apply(lambda x: convert_minutes(x))

In [19]:
line_schedules[["Travel segment (a)", "Time of departure (2400)"]].values

array([[  11.,  312.],
       [  11.,  324.],
       [  11.,  336.],
       ...,
       [  10., 1410.],
       [  10., 1425.],
       [  10.,    0.]])

In [18]:
line_schedules.to_pickle("line_schedules.pkl")

In [20]:
line_schedules

,Departure Index (c),Travel segment (a),Time of departure (2400),Arrival Time
0,1,11,312.0,387.0
1,2,11,324.0,399.0
2,3,11,336.0,411.0
3,4,11,348.0,423.0
4,5,11,360.0,435.0
5,6,11,372.0,447.0
6,7,11,384.0,459.0
7,8,11,396.0,471.0
8,9,11,408.0,483.0
9,10,11,420.0,495.0
10,11,11,432.0,507.0
11,12,11,444.0,519.0
12,13,11,450.0,525.0
13,14,11,456.0,531.0
14,15,11,465.0,540.0
15,16,11,468.0,543.0
16,17,11,480.0,555.0
17,18,11,480.0,555.0
18,19,11,492.0,567.0
19,20,11,495.0,570.0
20,21,11,504.0,579.0
21,22,11,510.0,585.0
22,23,11,516.0,591.0
23,24,11,528.0,603.0
24,25,11,540.0,615.0
25,26,11,552.0,627.0
26,27,11,564.0,639.0
27,28,11,576.0,651.0
28,29,11,588.0,663.0
29,30,11,600.0,675.0
...,...,...,...,...
202,87,10,1068.0,1141.0
203,88,10,1074.0,1147.0
204,89,10,1080.0,1153.0
205,90,10,1086.0,1159.0
206,91,10,1092.0,1165.0
207,92,10,1098.0,1171.0
208,93,10,1104.0,1177.0
209,94,10,1116.0,1189.0
210,95,10,1128.0,1201.0
211,96,10,1140.0,1213.0
212,97,10,1155.0,1228.0
213,98,10,1170.0,1243.0
214,99,10,1185.0,1258.0
215,100,10,1200.0,1273.0
216,101,10,1215.0,1288.0
217,102,10,1230.0,1303.0
218,103,10,1245.0,1318.0
219,104,10,1260.0,1333.0
220,105,10,1275.0,1348.0
221,106,10,1290.0,1363.0
222,107,10,1305.0,1378.0
223,108,10,1320.0,1393.0
224,109,10,1335.0,1408.0
225,110,10,1350.0,1423.0
226,111,10,1365.0,1438.0
227,112,10,1380.0,13.0
228,113,10,1395.0,28.0
229,114,10,1410.0,43.0
230,115,10,1425.0,58.0
231,116,10,0.0,73.0